<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ERGIIApp.NoActionBar">
        <activity
            android:name=".view.ResultadoCalculoActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.ejercicios.PesoActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.CalculoActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.ejercicios.EspaldaActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.ejercicios.BrazoActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.ejercicios.PiernaActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.UpdatePassActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.AccountActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".view.RegisterActivity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>